/* Chat Section */

.ui.comments {
    margin: 0 !important;
    color: white !important;
   }
  
  .review-block {
    justify-content: space-between;
    display: flex;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Comment Form */
  
  .ui.form .fields {
    display: flex;
    flex-direction: column !important;
  }
  
  .ui.form input[type="checkbox"],
  .ui.form textarea {
    vertical-align: top;
    height: 130px;
  }
  
  .ui.form .field:last-child,
  .ui.form .fields:last-child .field {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Comment Buttons */
  
  .comment-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 6px;
  }
  
  .comment-display-section{
    color: white !important;
  }


  /* For the Chat section*/
  .header{
    color: white !important;
  }
  .author{
    color: white !important;
  }
  