.event-main {
  min-height: 94vh;
}

.event-pane {
  margin-top: 100px;
  padding: 30px;
}

.sidenav---sidenav---_2tBP {
  top: 80px !important;
  background: #9ecca4 !important;
  height: 1000px;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
  min-width: 400px !important;
}

.pane-header {
  display: flex;
  width: 400px;
  padding: 20px;
  align-items: center;
}

.pane-calendar {
  transform: scale(1.4, 1.4);
  color: black;
}

.event-pane-title {
  font-size: 22px;
}

.time-display {
  padding: 40px;
  font-size: 30px;
}

.event-participant {
  display: flex;
  align-items: center;
}

/* Trail map */

.trail-main-section {
  display: flex;
  margin: 100px;
}

.event-trail-map {
  margin: 0;
  padding-left: 64px;
  width: 100%;
  height: 1000px;
}

.leaflet-container {
  height: 100% !important;
}

.comment-section {
  flex-basis: 40%;
  margin: 35px;
}

.event-description {
  width: 400px !important;
  overflow-wrap: break-word !important;
}
