.event-header {
  width: 40em;
  margin: auto;
  margin-bottom: 3em;
  margin-top: 3em;
}

.grid-container > span > ul {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .event-header {
    width: 20em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
  }
}
