.newtrailpage-container {
  min-height: 95vh;
  /* margin-top: 30px !important; */
  margin-top: 50px !important;
  margin: 0px 200px;
  /* margin: auto; */
  /* margin-left: ; */
  display: flex;
  flex-direction: column;
}

.trail-map {
  margin: auto;
  margin: 20px;
  height: 700px;
  width: 700px;
}

.leaflet-container {
  height: 100% !important;
}

.newtrail-info-section {
  display: flex;
}

.newtrail-title {
  margin-top: 10px;
  font-size: 30px;
  margin-left: 39px;
}

.newtrail-details {
  margin: 20px;
}

.newtrail-details > div {
  margin-top: 10px;
  margin-left: 20px;
}

.info-section-right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.my20 {
  width: 100%;
}

.mg20 > .MuiButton-root {
  margin-left: 20px;
}

.image-section {
  width: 100%;
  margin-left: 38px;
}

.file-name .MuiBox-root {
  display: none !important;
}

@media screen and (max-width: 960px) {
  .newtrailpage-container {
    margin: 0 !important;
  }

  .newtrail-info-section {
    flex-direction: column;
  }

  .trail-map {
    height: 35vh;
  }

  .newtrail-title {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 39px;
  }

  .image-section {
    width: unset;
    /* margin-left: 38px; */
  }

  .my20 {
    width: 100%;
  }
}
