.trail-main-section {
  display: flex;
  margin: 100px;
}

/* .MuiFormLabel-root.Mui-focused {
  color: greenyellow !important;
} */

.trail-map {
  margin: auto;
  height: 700px;
  width: 700px;
}

.leaflet-container {
  height: 100% !important;
}

.comment-section {
  flex-basis: 40%;
  margin: 35px;
}

@media screen and (max-width: 1200px) {
  .trail-main-section {
    flex-direction: column;
    margin: 0 !important;
  }

  .trail-map {
    margin: 0 !important;
    height: 700px;
    width: 100% !important;
  }
}

@media screen and (max-width: 960px) {
  .image-container {
    height: 60vh;
  }

  .image-header {
    font-size: 30px;
  }

  .trail-info {
    font-size: 30px;
  }

  .image-btn-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .image-btns {
    /* margin-top: 10em; */
    display: flex;
    /* margin-left: 12px; */
    transform: scale(0.8);
  }

  .image-btn {
    transform: scale(0.9);
  }

  .image-container {
    justify-content: unset;
  }

  .image-description {
    font-size: 16px;
  }
}
